In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import zipfile

# Get the Data

In [6]:
import time
start = time.time()

tr_set1 = pd.read_sas(r"R:\Data\retail lending\ThomasS\RCA\Dataset\dataset_201802.sas7bdat")

end = time.time()
print(end - start)

158.29900002479553

# Discover and visualize the data to gain insights

In [4]:
tr_set1.head()

,Account_Num,Product_Code,First_Use_Code,Account_Stat_Code,Block_Reclass_Code,Opened_Date,Credit_Lim,Mths_Delq,Tot_Delq,Orig_Chrg_Off_Amt,Chrg_Off_Date,Amt_Last_Payt,Purch_Int_Rate,Tot_New_Bal,Tot_Min_Payt,Final_Score,roo_flag,acct_prov_state_cd,curr_cpd,prev_cpd
0,b'3792400000385',b'AXS',b'1',b'5',NaN,2012-09-24,7500.0,0.0,0.0,0.0,NaT,50.00,0.000548,478.32,19.49,619.0,0.0,b'BC',b'pd0',b'pd0'
1,b'3792400000419',b'AXS',b'1',b'5',NaN,2012-09-24,4000.0,0.0,0.0,0.0,NaT,250.00,0.000685,3864.14,93.05,0.0,0.0,b'NL',b'pd0',b'pd0'
2,b'3792400000435',b'AXS',b'1',b'5',NaN,2012-09-24,6500.0,0.0,0.0,0.0,NaT,1744.91,0.000548,94.30,52.15,722.0,0.0,b'BC',b'pd0',b'pd0'
3,b'3792400000443',b'AXS',b'2',b'5',NaN,2012-09-24,1900.0,0.0,0.0,0.0,NaT,50.00,0.000548,1716.96,42.24,0.0,0.0,b'QC',b'pd0',b'pd0'
4,b'3792400000450',b'AXS',b'1',b'5',NaN,2012-09-24,7500.0,0.0,0.0,0.0,NaT,3720.68,0.000548,2513.00,10.00,0.0,0.0,b'NL',b'pd0',b'pd0'

In [3]:
tr_set1.describe()

,Credit_Lim,Mths_Delq,Tot_Delq,Orig_Chrg_Off_Amt,Amt_Last_Payt,Purch_Int_Rate,Tot_New_Bal,Tot_Min_Payt,Final_Score,roo_flag
count,3.274284e+06,3.274284e+06,3.274284e+06,3274284.0,3.274284e+06,3.274284e+06,3.274284e+06,3.274284e+06,3.274284e+06,3.274284e+06
mean,2.299427e+04,4.495823e-01,4.796979e+00,0.0,7.954871e+02,4.122937e-04,1.228318e+04,8.733998e+01,1.881822e+02,6.675658e-03
std,5.646941e+04,2.087592e+00,2.734990e+02,0.0,5.188040e+03,1.910608e-04,3.861318e+04,1.574186e+02,3.256347e+02,8.143154e-02
min,1.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,1.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000e+03,0.000000e+00,0.000000e+00,0.0,1.000000e+02,2.095890e-04,5.223100e+02,1.000000e+01,0.000000e+00,0.000000e+00
50%,1.000000e+04,0.000000e+00,0.000000e+00,0.0,2.000000e+02,5.476712e-04,2.783260e+03,4.898000e+01,0.000000e+00,0.000000e+00
75%,2.100000e+04,0.000000e+00,0.000000e+00,0.0,5.242500e+02,5.476712e-04,1.028954e+04,1.025500e+02,5.920000e+02,0.000000e+00
max,4.500000e+06,1.290000e+02,2.337594e+05,0.0,9.999992e+05,6.846575e-04,4.423118e+06,1.250680e+04,9.990000e+02,1.000000e+00